.projects {
    // margin: 12rem 0;

    .title {
        font-family: var(--raleway);
        color: var(--lightest-slate);
        position: relative;

        h2 {
            margin-bottom: 2rem;
            font-size: var(--tx2large);
            font-weight: 700;

            &::before {
                counter-increment: title;
                content: "0" counter(title) ".";
                margin-right: 0.5rem;
                color: var(--theme-color);
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 20px;
                width: 300px;
                height: 2px;
                margin-left: 420px;
                background-color: var(--lightest-navy);
            }
        }
    }

}