nav{
    min-height: 60px;
    .wrapper{
        .brand{
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 3rem;
                width: 3rem;
                fill: none;
                color: var(--theme-color);
            }
        }
    }
}