body{
    background-color: var(--background-color);
    counter-reset: title;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

main{
    margin: 0 13rem;
}